@tailwind base;
@tailwind components;
@tailwind utilities;

.user-auth {
   @apply bg-center bg-cover;
   background-image: url('../../assets/img/banner1.jpg');
   height: 900px;

   .user-auth__container {
      @apply relative w-full h-full;

      .user-auth__message {
         @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/3 left-1/2 text-brand;
      }

      .login__form {
         @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/3 left-1/2;
         form {
            @apply w-[400px] p-10 bg-white rounded-lg shadow;

            h2 {
               @apply mb-10 text-title font-[500] text-center;
            }
            .login__form__container {
               @apply flex flex-col items-start mb-5 gap-y-3;

               label {
                  @apply text-sm font-[500] cursor-pointer;
               }

               input {
                  @apply w-full p-4 bg-transparent border border-gray-200 rounded-lg outline-none;
               }
               span {
                  @apply h-[10px] text-error text-sm;
               }
            }

            .Btn__Login {
               @apply inline-flex w-full items-center justify-center px-8 py-4 font-sans font-semibold tracking-wide h-[60px] rounded-lg;
            }

            .form__text {
               @apply flex items-center justify-center my-5 text-slate-400;
               p:nth-of-type(2) {
                  @apply text-blue-500 underline cursor-pointer ps-3;
               }
            }
         }
      }
      .singup__form {
         @apply absolute -translate-x-1/2 -translate-y-1/2 top-[40%] left-1/2;

         form {
            @apply w-[400px]  p-10 bg-white rounded-lg shadow;
            h2 {
               @apply mb-10 text-title font-[500] text-center;
            }

            .singup__form__container {
               @apply flex flex-col items-start mb-5 gap-y-3;

               label {
                  @apply text-sm font-medium cursor-pointer;
               }

               input {
                  @apply w-full p-4 bg-transparent border border-gray-200 rounded-lg outline-none;
               }

               span {
                  @apply text-sm h-[10px] text-error;
               }
            }

            .Btn__Signup {
               @apply inline-flex w-full items-center justify-center px-8 py-4 font-sans font-semibold tracking-wide h-[60px] rounded-lg;
            }

            .form__text {
               @apply flex items-center justify-center my-5 text-slate-400;
               p:nth-of-type(2) {
                  @apply text-blue-500 underline cursor-pointer ps-3;
               }
            }
         }
      }
   }
}
