@tailwind base;
@tailwind components;
@tailwind utilities;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
#### Font
+ font-size:
    - Default: 10px
    - content: '1.4rem'
    - info: '2rem'
    - title: '2.4rem'
    - brand: '3rem'

+ font-family: Work Sans


#### Color
    - light: '#F9FAFB'
    - primary: '#3B71CA'
    - secondary: '#9FA6B2'
    - success: '#14A44D'
    - warning: '#E4A11B'
    - error: '#DC4C64'
    - info: '#54B4D3'
    - dark: '#1F2937'

#### Animation:
    - Image: fade-in-fw
    

*/

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 10px;
   font-style: italic;

   button {
      @apply h-full px-8 py-4 uppercase bg-dark text-light
      hover:text-warning;
   }

   input {
      @apply focus-visible:outline-none;
   }
}

body {
   line-height: 1.4;
   font-size: 1.4rem;
   letter-spacing: 0.6px;
   font-family: 'Work Sans', serif;
   @apply text-dark;
}
